#header1 {
    color:aqua;
    font-family: fantasy;
}

#header2 {
    color:aquamarine;
    font-family: cursive;
}

#para {
    color:blueviolet;
    font-family: monospace;
    max-width: 500px;
    margin: 0 auto 0 0;
    word-wrap: break-word;
}

h3 {
    display: inline;
}

#googlefont {
    font-family: 'Open Sans Condensed', sans-serif;
}

#inline {
    border: 1px solid black;
}

body{

}

.button1 {
    margin-top: 20px;
    background-color: aqua;
    width: 80px;
    padding: 5px;
    transition-duration: 0.25s;
    transition-delay: 0.05s;
    height: 30px;
    border-style:none;
    font-family: 'Open Sans Condensed', sans-serif;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button1:hover {
    color: blue;
    width: 90px;
    cursor: pointer;
}

.button2 {
    background-color: pink;
    width: 80px;
    align-self: center;
    padding: 5px;
    transition-duration: 0.25s;
    transition-delay: 0.05s;
    height: 30px;
    display: block;
    cursor: pointer;
    border-style: none;
    font-family: 'Open Sans Condensed', sans-serif;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button2:hover{
    color: red;
    width: 90px;
}

.ball {
    background-color: cadetblue;
    width: 50px;
    height: 50px;
    animation-name: bounce;
    animation-duration: 5s;
    position: relative;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {
        top: 0px;
        left: 0px;
        background-color: lightblue;
    }
    25% {
        top: 0px;
        left: 50px;
        background-color: lightgreen;
    }
    50% {
        top: 50px;
        left: 50px;
        background-color: yellow;
    }
    75% {
        top: 50px;
        left: 0px;
        background-color: red;
    }
    100% {
        top: 0px;
        left: 0px;
        background-color: lightblue;
    }
}

.box {
    border-style: solid;
    border-color: black;
    width:100px;
    height: 100px;
    margin: 5px;
    background-color: black;
}